<h1>Books</h1>
<a href="/book/new"> <button type="button" name="button">Add a New Book</button></a>
<!-- <div class="form-group col-md-4">
<div class="form-group">
	<label for="exampleFormControlSelect1">Search by Genre</label>
	<select class="form-control" id="exampleFormControlSelect1">
		<a href="#"></a> <option>JavaScript</option>
		<option>Python</option>
	</select>
</div>
</div> -->
{{#each book}}
<div class="media">
  <a href="/book/{{id}}"><img class="mr-3 covers" src="{{cover}}" alt="Generic placeholder image"></a>
  <div class="media-body">
    <h3 class="mt-0">{{title}}</h5>

		<h4 class='mt-0'>By:{{author1}} {{author2}} {{author3}}</h5>
		<h5 class='mt-0'><i>{{genre}}</i></h5>
		<a href="/book/{{id}}/editBook"> <button type="button" name="button">Edit</button></a>
		<a href="/book/{{id}}/deleteBook"><button type="button" name="button">Delete</button></a>
{{description}}
  </div>
</div>
{{/each}}
<h6>number of books in our database: {{book.length}}</h6>
