<form class="form" action="/book/{{id}}?_method=PUT" method="post">
<div class="form-group">
	<label for="title">Title</label><br>
	<input type="text" name="title" id="title" placeholder="Book Title"value="{{title}}"required>
</div>
<div class="form-group">
	<label for="genre">Genre</label><br>
	<input type="text" name="genre" id="genre" placeholder="Book Genre"value="{{genre}}"required>
</div>
<div class="form-group">
	<label for="cover">Cover Image URL</label><br>
	<input type="text" name="cover" id="cover" placeholder="Cover Image URL"value="{{cover}}"required>
</div>
<div class="form-group">
	<label for="description">Description</label><br>
	<textarea name="description" id='description' rows="8" cols="80" placeholder="Book description goes here">{{description}}</textarea>
</div>
<div class="form-group">
	<label for="author1">Author</label><br>
	<input type="text" name="author1" id="author1" placeholder="Authors' Names"required value="{{author1}}">
</div>
	<button type="submit" class="btn btn-primary">Edit A Book</button>
</form>
