<div class="media">
  <img class="mr-3 covers" src="{{cover}}" alt="Generic placeholder image">
  <div class="media-body">
    <h3 class="mt-0">{{title}}</h5>
		<h4 class='mt-0'>By: {{author1}} {{author2}} {{author3}}</h5>
		<h5 class='mt-0'><i>{{genre}}</i></h5>
{{description}}
  </div>
</div>
